<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>
      <h1><%= list.title %></h1>

        <% if(currentUser && (currentUser.id === list.userId || currentUser.isAdmin())) { %>
          <a href="/events/<%= list.eventId %>" class="btn btn-warning">Back to Event</a>

          <a href="/events/<%= list.eventId %>/lists/<%= list.id %>/edit" class="btn btn-warning">Edit</a>

        <form style="display:initial" action="/events/<%= list.eventId %>/lists/<%= list.id %>/destroy" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

       
        <% } %>
       
    
      <p><%= list.body %></p>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
